OffersAuctionsProyect/wsdl/auctionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://com.taller" targetNamespace="http://com.taller">
	<wsdl:types>
		<xs:schema targetNamespace="http://com.taller" elementFormDefault="qualified">
			<!--xs:include schemaLocation=""/> -->
			<!--xs:include schemaLocation=""/> -->
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="newAuctionRequest">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>

	<wsdl:message name="modifyAuctionRequest">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>

	<wsdl:message name="deleteAuctionRequest">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>

	<wsdl:message name="consultAuctionRequest">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>

	<wsdl:message name="ackResponse">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>

	<wsdl:portType name="auctionPortType">

		<wsdl:operation name="newAuctionOperation">
			<wsdl:input message="tns:newAuctionRequest"/>
			<wsdl:output message="tns:ackResponse"/>
		</wsdl:operation>

		<wsdl:operation name="modifyAuctionOperation">
			<wsdl:input message="tns:modifyAuctionRequest"/>
			<wsdl:output message="tns:ackResponse"/>
		</wsdl:operation>

		<wsdl:operation name="deleteAuctionOperation">
			<wsdl:input message="tns:deleteAuctionRequest"/>
			<wsdl:output message="tns:ackResponse"/>
		</wsdl:operation>

		<wsdl:operation name="consultAuctionOperation">
			<wsdl:input message="tns:consultAuctionRequest"/>
			<wsdl:output message="tns:ackResponse"/>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="auctionBinding" type="tns:auctionPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="newAuctionOperation">
			<soap:operation soapAction="urn:#NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="modifyAuctionOperation">
			<soap:operation soapAction="urn:#ModifyOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="deleteAuctionOperation">
			<soap:operation soapAction="urn:#DeleteOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="consultAuctionOperation">
			<soap:operation soapAction="urn:#ConsultOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="auctionService">
		<wsdl:port name="auctionPort" binding="tns:auctionBinding">
			<soap:address location="No target address"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
