OffersAuctionsProyect/wsdl/salesService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://com.taller" targetNamespace="http://com.taller">
	<wsdl:types>
		<xs:schema targetNamespace="http://com.taller" elementFormDefault="qualified">
			<!--xs:include schemaLocation=""/> -->
			<!--xs:include schemaLocation=""/> -->
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="newSaleRequest">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>

	<wsdl:message name="modifySaleRequest">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>

	<wsdl:message name="deleteSaleRequest">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>

	<wsdl:message name="consultSaleRequest">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>
	
	<wsdl:message name="ackResponse">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>

	<wsdl:portType name="salesPortType">

		<wsdl:operation name="newSaleOperation">
			<wsdl:input message="tns:newSaleRequest"/>
			<wsdl:output message="tns:ackResponse"/>
		</wsdl:operation>

		<wsdl:operation name="modifySaleOperation">
			<wsdl:input message="tns:modifySaleRequest"/>
			<wsdl:output message="tns:ackResponse"/>
		</wsdl:operation>

		<wsdl:operation name="deleteSaleOperation">
			<wsdl:input message="tns:deleteSaleRequest"/>
			<wsdl:output message="tns:ackResponse"/>
		</wsdl:operation>

		<wsdl:operation name="consultSaleOperation">
			<wsdl:input message="tns:consultSaleRequest"/>
			<wsdl:output message="tns:ackResponse"/>
		</wsdl:operation>

	</wsdl:portType>
	
	<wsdl:binding name="salesBinding" type="tns:salesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="newSaleOperation">
			<soap:operation soapAction="urn:#NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="modifySaleOperation">
			<soap:operation soapAction="urn:#ModifyOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="deleteSaleOperation">
			<soap:operation soapAction="urn:#DeleteOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="consultSaleOperation">
			<soap:operation soapAction="urn:#ConsultOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>
	<wsdl:service name="salesService">
		<wsdl:port name="salesPort" binding="tns:salesBinding">
			<soap:address location="No target address"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
