TallerAutomotriz/servicioTaller.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://com.taller" targetNamespace="http://com.taller">	<wsdl:types>		<xs:schema targetNamespace="http://com.taller" elementFormDefault="qualified">			<xs:include schemaLocation="taller.xsd"/>			<xs:include schemaLocation="commons.xsd"/>		</xs:schema>	</wsdl:types>	<wsdl:message name="NewServiceMessageRequest">		<wsdl:part name="parameter" element="tns:servicio"/>	</wsdl:message>	<wsdl:message name="NewServiceMessageResponse">		<wsdl:part name="parameter" element="tns:ack"/>			</wsdl:message>	<wsdl:message name="UpdateServiceMessageRequest">		<wsdl:part name="parameter" element="tns:servicio"/>	</wsdl:message>	<wsdl:message name="UpdateServiceMessageResponse">		<wsdl:part name="parameter" element="tns:ack"/>			</wsdl:message>	<wsdl:portType name="AutoPortType">		<wsdl:operation name="PostService">			<wsdl:input message="tns:NewServiceMessageRequest"/>			<wsdl:output message="tns:NewServiceMessageResponse"/>		</wsdl:operation>	</wsdl:portType>	<wsdl:binding name="AutoBinding" type="tns:AutoPortType">		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>		<wsdl:operation name="PostService">			<soap:operation soapAction="urn:#PostService"/>			<wsdl:input>				<soap:body use="literal"/>			</wsdl:input>			<wsdl:output>				<soap:body use="literal"/>			</wsdl:output>		</wsdl:operation>	</wsdl:binding>	<wsdl:service name="AutoService">		<wsdl:port name="AutoPort" binding="tns:AutoBinding">			<soap:address location="No target address"/>		</wsdl:port>	</wsdl:service></wsdl:definitions>