OfertasSubastas/servicioOfertasSubastas.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://com.ofertasSubastas" targetNamespace="http://com.ofertasSubastas">

	<wsdl:types>
		<xs:schema targetNamespace="http://com.ofertasSubastas" elementFormDefault="qualified">
			<xs:include schemaLocation="ofertasSubastas.xsd"/>
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="AltaProductoRequest">
		<wsdl:part name="parameter" element="tns:Producto"/>
	</wsdl:message>
	
	<wsdl:message name="AltaProductoResponse">
		<wsdl:part name="parameter" type="xs:string"/>
	</wsdl:message>
	
	<wsdl:message name="CrearSubastaRequest">
        <wsdl:part name="parameter" element="tns:Subasta"/>
    </wsdl:message>
    <wsdl:message name="CrearSubastaResponse">
        <wsdl:part name="parameter" type="xs:string"/>
    </wsdl:message>
    
	<wsdl:portType name="ProductoPortType">
		<wsdl:operation name="AltaProducto">
			<wsdl:input message="tns:AltaProductoRequest"/>
			<wsdl:output message="tns:AltaProductoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="CrearSubasta">
			<wsdl:input message="tns:CrearSubastaRequest"/>
			<wsdl:output message="tns:CrearSubastaResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="ProductoBinding" type="tns:ProductoPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="AltaProducto">
			<soap:operation soapAction="urn:#AltaProducto"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CrearSubasta">
            <soap:operation soapAction="urn:#CrearSubasta"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="NewService">
		<wsdl:port name="NewPort" binding="tns:ProductoBinding">
			<soap:address location="No target address"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
