OfertasSubastas2/Estructura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://com.taller" targetNamespace="http://com.taller" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:complexType name = "Product">
        <xs:annotation>
            <xs:documentation>Products to be listed/auctioned</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name = "productID" type = "xs:ID"/>
            <xs:element name = "providerID" type = "xs:ID"/>
            <xs:element name = "productName">
                <xs:simpleType>
                    <xs:restriction base = "xs:string">
                        <xs:whiteSpace value = "preserve"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "productPrice" type = "xs:decimal"/>
            <xs:element name = "productQuantity">
                <xs:simpleType>
                    <xs:restriction base = "xs:int">
                        <xs:minInclusive value = "0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "brand" type = "xs:string"/>
            <xs:element name = "category">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Hogar"/>
                        <xs:enumeration value="Electronica"/>
                        <xs:enumeration value="Ropa"/>
                        <xs:enumeration value="Juguetes"/>
                        <xs:enumeration value="Deportes"/>
                        <xs:enumeration value="Libros"/>
                        <xs:enumeration value="Electrodomesticos"/>
                        <xs:enumeration value="Musica"/>
                        <xs:enumeration value="Calzado"/>
                        <xs:enumeration value="Mascotas"/>
                        <xs:enumeration value="Jardineria"/>
                        <xs:enumeration value="Salud"/>
                        <xs:enumeration value="Belleza"/>
                        <xs:enumeration value="Herramientas"/>
                        <xs:enumeration value="Vehiculos"/>
                        <xs:enumeration value="Otros"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name = "characteristics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name = "name">
                            <xs:simpleType>
                                <xs:restriction base = "xs:string">
                                    <xs:whiteSpace value = "preserve"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name = "value">
                            <xs:simpleType>
                                <xs:restriction base = "xs:string">
                                    <xs:whiteSpace value = "preserve"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!--Schema for an address -->
    <xs:complexType name = "Address">
        <xs:annotation>
            <xs:documentation>Address of a user</xs:documentation>
        </xs:annotation>
            <xs:sequence>
                <xs:element name = "street">
                    <xs:simpleType>
                        <xs:restriction base = "xs:string">
                            <xs:whiteSpace value = "preserve"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name = "exteriorNumber">
                    <xs:simpleType>
                        <xs:restriction base = "xs:integer">
                            <xs:minInclusive value = "0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name = "interiorNumber">
                    <xs:simpleType>
                        <xs:restriction base = "xs:integer">
                            <xs:minInclusive value = "0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name = "locality">
                    <xs:simpleType>
                        <xs:restriction base = "xs:string">
                            <xs:whiteSpace value = "preserve"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name = "city">
                    <xs:simpleType>
                        <xs:restriction base = "xs:string">
                            <xs:whiteSpace value = "preserve"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name = "state">
                    <xs:simpleType>
                        <xs:restriction base = "xs:string">
                            <xs:whiteSpace value = "preserve"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name = "zipCode">
                    <xs:simpleType>
                        <xs:restriction base = "xs:integer">
                            <xs:minInclusive value = "0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
    </xs:complexType>

    <!--Schema for a user, categorized by provider or client -->

    <xs:complexType name="User">
        <xs:annotation>
            <xs:documentation>User that will be registered</xs:documentation>
        </xs:annotation>
            <xs:sequence>
                <xs:element name = "userID" type = "xs:ID"/>
                <xs:element name = "name">
                    <xs:simpleType>
                        <xs:restriction base = "xs:string">
                            <xs:whiteSpace value = "preserve"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name = "lastname">
                    <xs:simpleType>
                        <xs:restriction base = "xs:string">
                            <xs:whiteSpace value = "preserve"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name = "address" type = "tns1:Address"/>
                <xs:element name = "phone">
                    <xs:simpleType>
                        <xs:restriction base = "xs:integer">
                            <xs:totalDigits value="10"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name = "mail">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="/^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})$/"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name = "rfc">
                    <xs:simpleType>
                        <xs:restriction base = "xs:string">
                            <xs:pattern value = "^([A-Z,Ñ,&amp;]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[A-Z|\d]{3})$"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name = "password">
                    <xs:simpleType>
                        <xs:restriction base = "xs:string">
                            <xs:pattern value = "/^(.{0,7}|[^0-9]*|[^A-Z]*|[^a-z]*|[a-zA-Z0-9]*)$/gm"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name = "type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="client"/>
                            <xs:enumeration value="provider"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
    </xs:complexType>

    <xs:element name = "Sale">
        <xs:annotation>
            <xs:documentation>Sale to be made</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "saleID" type = "xs:ID"/>
                <xs:element name = "clientID" type = "xs:ID"/>
                <xs:element name = "providerID" type = "xs:ID"/>
                <xs:element name = "productID" type = "xs:ID"/>
                <xs:element name = "productQuantity" type = "xs:int"/>
                <xs:element name = "productPrice" type = "xs:decimal"/>
                <xs:element name = "saleDate" type = "xs:date"/>
                <xs:element name = "total" type = "xs:decimal"/>
                <xs:element name = "status" type = "xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name = "Auction">
        <xs:annotation>
            <xs:documentation>Auction to be held</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "auctionID" type = "xs:ID"/>
                <xs:element name = "clientID" type = "xs:ID"/>
                <xs:element name = "providerID" type = "xs:ID"/>
                <xs:element name = "productID" type = "xs:ID"/>
                <xs:element name = "auctionDate" type = "xs:date"/>
                <xs:element name = "initialPrice" type = "xs:decimal"/>
                <xs:element name = "finalPrice" type = "xs:decimal"/>
                <xs:element name = "status" type = "xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name = "Request">
        <xs:annotation>
            <xs:documentation>Request to be made</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "RequestID" type = "xs:ID"/>
                <xs:element name = "clientID" type = "xs:ID"/>
                <!--Agregar el producto, ya que el cliente no conoce el ID de lo que quiere pedir:-->
                <xs:element name = "product" type = "tns1:Product"/>
                <xs:element name = "productQuantity" type = "xs:int"/>
                <xs:element name = "requestDate" type = "xs:date"/>
                <xs:element name = "status" type = "xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name = "Offer">
        <xs:annotation>
            <xs:documentation>Offer to be made by the provider in response to a request</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "offerID" type = "xs:ID"/>
                <xs:element name = "providerID" type = "xs:ID"/>
                <xs:element name = "offerPrice" type = "xs:decimal"/>
                <xs:element name = "offerDate" type = "xs:date"/>
                <xs:element name = "product" type = "tns1:Product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
